/*fonts */
@font-face {
  font-family: 'Tex Gyre Heros Cn';
  src: url('fonts/texgyreheroscn-regular.woff2') format('woff2'),
       url('fonts/texgyreheroscn-regular.woff') format('woff'),
       url('fonts/texgyreheroscn-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Heros Cn';
  src: url('fonts/texgyreheroscn-italic.woff2') format('woff2'),
       url('fonts/texgyreheroscn-italic.woff') format('woff'),
       url('fonts/texgyreheroscn-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Tex Gyre Heros Cn';
  src: url('fonts/texgyreheroscn-bold.woff2') format('woff2'),
       url('fonts/texgyreheroscn-bold.woff') format('woff'),
       url('fonts/texgyreheroscn-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Heros Cn';
  src: url('fonts/texgyreheroscn-bolditalic.woff2') format('woff2'),
       url('fonts/texgyreheroscn-bolditalic.woff') format('woff'),
       url('fonts/texgyreheroscn-bolditalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('fonts/texgyreheros-regular.woff2') format('woff2'),
       url('fonts/texgyreheros-regular.woff') format('woff'),
       url('fonts/texgyreheros-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('fonts/texgyreheros-italic.woff2') format('woff2'),
       url('fonts/texgyreheros-italic.woff') format('woff'),
       url('fonts/texgyreheros-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('fonts/texgyreheros-bold.woff2') format('woff2'),
       url('fonts/texgyreheros-bold.woff') format('woff'),
       url('fonts/texgyreheros-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Heros';
  src: url('fonts/texgyreheros-bolditalic.woff2') format('woff2'),
       url('fonts/texgyreheros-bolditalic.woff') format('woff'),
       url('fonts/texgyreheros-bolditalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'open-arrow';
  src: url('fonts/OpenArrow-Regular.eot') format('embedded-opentype'),
    url('fonts/OpenArrow-Regular.woff2') format('woff2'),
    url('fonts/OpenArrow-Regular.woff') format('woff'),
    url('fonts/OpenArrow-Regular.otf') format('opentype'),
    url('fonts/OpenArrow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-mono-v22-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('fonts/roboto-mono-v22-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/roboto-mono-v22-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/roboto-mono-v22-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/roboto-mono-v22-latin-regular.svg#RobotoMono') format('svg');
  /* Legacy iOS */
}

:root {
  --color-blue: #416CF7;
  --font-regular: 'Tex Gyre Heros', Arial, Helvetica, sans-serif;
  --font-narrow: 'Tex Gyre Heros Cn', Arial, Helvetica, sans-serif;
  --font-mono: 'Roboto Mono', 'Courier New', monospace;
  --font-arrow: 'open-arrow', Arial, Helvetica, sans-serif;
  --color-highlight: var(--color-blue);
  --color-dimmed: #525151;
  --level-indentation: 2.5rem;
  --font-size: 18px;
  --font-size--smaller: .8rem;
  --font-size--bigger: 1.25rem;
  --font-size--jumbo: min(6rem, max(3rem, 3vw));
}


/* Web */

html, body {
  font-family: var(--font-regular);
  font-size: var(--font-size);
  background: #f2f2f2;
}

body {
  margin: auto;
  /* max-width: 110ch; */
  padding: 0; /* 5rem 3rem 1rem 3.5rem; */
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content 1fr;
}

main {
	flex: 1 1 auto;
  padding: 2rem 3.5rem 4rem;
  overflow-y: auto;
}

details > ul {
	margin-left: var(--level-indentation);
  margin-right: 0;
	padding: 0;
	margin-top: 1rem;
  /* max-width: calc(100% - var(--level-indentation)); */
}

details > ul > li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

article {
	padding: 0;
}

article.image {
	display: flex;
	flex-direction: row;
}

article[data-type="image"],
article[data-type="text"],
article[data-type="pdf"],
article[data-type="audio"],
article[data-type="video"],
article[data-type="unknown"] {
  align-items: baseline;
	display: flex;
	flex-direction: row;
}

article[data-type="image"] > *,
article[data-type="text"] > *,
article[data-type="pdf"] > *,
article[data-type="audio"] > *,
article[data-type="video"] > *,
article[data-type="unknown"] > * {
	flex: 1;
}

article[data-type="image"] > .file--header,
article[data-type="text"] > .file--header,
article[data-type="pdf"] > .file--header,
article[data-type="audio"] > .file--header,
article[data-type="video"] > .file--header,
article[data-type="unknown"] > .file--header,
summary.folder--list--entry > .folder--title {
	flex: 1;
}

article[data-type="image"] > .file--meta,
article[data-type="text"] > .file--meta,
article[data-type="pdf"] > .file--meta,
article[data-type="audio"] > .file--meta,
article[data-type="video"] > .file--meta,
article[data-type="unknown"] > .file--meta   {
	flex: 0 0 25vw;
  color: var(--color-dimmed);
}

article[data-type="image"] > .file-preview,
article[data-type="text"] > .file-preview,
article[data-type="pdf"] > .file-preview,
article[data-type="audio"] > .file-preview,
article[data-type="video"] > .file-preview,
article[data-type="unknown"] > .file-preview  {
  margin-right: -1rem;
	flex: 0 0 25vw;
  align-self: flex-start;
}

article[data-type="image"] img,
article[data-type="pdf"] img {
	max-height: 8rem;
  margin-top: -.5rem;
  margin-bottom: -.5rem;
  display: block;
}

summary {
  font-family: var(--font-narrow);
  font-size: var(--font-size--bigger);
  /* color: var(--color-highlight); */
  /* list-style-position: outside; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-narrow);
}

p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

iframe {
  border: 0;
}

iframe.youtube {
  aspect-ratio: 16/9;
  max-width: 75ch;
}


iframe.vimeo {
  aspect-ratio: 16/9;
  max-width: 75ch;
}

object.pdf {
  width: 90vw;
  height: 90vh;
  max-width: 100%;
  max-height: 100%;
}

[data-pdf-thumbnail] {
  display: block;
  position: relative;
}

article[data-type="audio"] .file-preview audio {
  width: 100%;
}

/* [data-pdf-thumbnail]::after {
	content: "Click to load full pdf (" attr(data-size) ")";
	position: absolute;
	top: 1em;
	left: 1em;
	display: block;
	background: white;
	padding: .5em;
	text-decoration: none;
	color: black;
	font-size: var(--font-size--smaller);
	display: inline-block;
	font-weight: bold;
} */

.folder--list--entry {
  display: flex;
  align-items: baseline;
  /* Summary has slight indentation because of padding of 
      parent li, reset this, so bigger area is clickable
   */
  margin: -.5rem -1rem -.5rem -1rem;
  padding: .5rem 1rem .75rem 1rem;
}

.folder--meta {
  flex: 0 0 50vw;
  color: var(--color-dimmed);
  margin-right: -1rem;
}

.folder--title {
  /* background: var(--color-highlight); */
  /* color: white; */
  flex: 1;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.folder--title a {
  color: currentColor;
  text-decoration: none;
}

#list--home .folder--title,
#directory--info h2 {
  font-size: var(--font-size--jumbo);
  margin: 0;
}

.folder--summary {
  font-family: var(--font-mono);
  font-size: var(--font-size--smaller);
  vertical-align: top;
}

#list--home .folder--summary:before {
  content: '(';
}

#list--home .folder--summary:after {
  content: ')';
}

#directory--description h2 {
  display: inline-block;
  position: sticky;
  top: -2rem;
}

#directory--illustration {
  display: block;
}

#logo {
  z-index: 9;
  position: fixed;
  right: 1.5rem;
  top: 1rem;
  width: 10%;
  height: auto;
  border: none;
}

#logo_down {
  z-index: 9;
  position: fixed;
  left: 1.5rem;
  bottom: 1rem;
  width: 10%;
  height: auto;
  border: none;
}

.file--caption,
.directory--caption {
	padding: 0.5rem 0rem;
  max-width: 75ch;
}

.file-preview--text .file-preview--text--spacer {
  max-width: 75ch;
}

.file--header {
  margin-bottom: 1.25rem;
  margin-right: 2ch;
}

.file--header a {
  color: inherit;
  text-decoration: inherit;
}

.file--name {
  display: inline;
  font-size: var(--font-size--bigger);
  font-family: var(--font-narrow);
  margin: 0;
}

.file--meta,
.folder--meta {
  display: inline;
  font-family: var(--font-mono);
  font-size: var(--font-size--smaller);
}

.file--meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1.5rem;
}

.file--meta .file--meta--filesize,
.file--meta .file--meta--timestamp {
  flex: 1 0 auto;
}


.file--meta .link--download {
  flex: 2 0 auto;
}

.file--meta > *:not(:last-child) {
  margin-right: 1.5ch;
}

.link--download {
  color: var(--color-highlight);
}

.link--download::after {
  content: '↯';
  font-family: var(--font-arrow);
  font-size: var(--font-size--smaller);
}

.file-preview--text,
.file--caption {
	position: relative;
	overflow: hidden;
	max-height: 8rem;
	background: white;
	font-size: 80%;
  margin-top: -.5rem;
  margin-bottom: -.5rem;
}

.file-preview--text--spacer {
	padding: 1rem;
}

.file--caption::after,
.file-preview--text::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background: linear-gradient(to top, white 20%, transparent);
	height: 6rem;
	content: "";
	display: block;
}


:root {
  --summary-base-offset: -2rem;
  --summary-single-offset: 2rem;
  --color--green: rgb(81, 240, 97);
}


summary a {
  color: inherit;
  text-decoration: inherit;
}


details {
  --summary-offset: calc(var(--summary-base-offset) + 0 * var(--summary-single-offset));
  --color-highlight: #416cf8;
}

details details {
  --summary-offset: calc(var(--summary-base-offset) + 1 * var(--summary-single-offset));
  /* --color-highlight: rgb(81, 240, 97); */
}

details details details {
  --summary-offset: calc(var(--summary-base-offset) + 2 * var(--summary-single-offset));
  /* --color-highlight: #ebc494; */
}

details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 3 * var(--summary-single-offset));
  /* --color-highlight: #dbd9d9; */
}

details details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 4 * var(--summary-single-offset));
  /* --color-highlight: #416cf8; */
}

details details details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 5 * var(--summary-single-offset));
  /* --color-highlight: rgb(81, 240, 97); */
}

details details details details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 6 * var(--summary-single-offset));
  /* --color-highlight: #ebc494; */
}

details details details details details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 7 * var(--summary-single-offset));
  /* --color-highlight: #dbd9d9; */
}

details details details details details details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 8 * var(--summary-single-offset));
  /* --color-highlight: #416cf8; */
}

details details details details details details details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 9 * var(--summary-single-offset));
  /* --color-highlight: rgb(81, 240, 97); */
}

details details details details details details details details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 10 * var(--summary-single-offset));
  /* --color-highlight: #ebc494; */
}

details details details details details details details details details details details details {
  --summary-offset: calc(var(--summary-base-offset) + 11 * var(--summary-single-offset));
  /* --color-highlight: #dbd9d9; */
}

summary {
	font-family: var(--font-regular);
	font-size: 125%;
	position: sticky;
	top: var(--summary-offset);
}

summary {
  list-style-type: none;
}

summary::before {
  display: inline-block;
  align-self: flex-start;
  position: absolute;
  bottom: 1ch;
  font-family: var(--font-arrow);
  content: "↠";
  transition: .1s;
  transform-origin: center center;
  left: -.75rem;

}

details[open] > summary::before {
  transform: rotate(90deg);
  transition: .1s;
}

details[open] summary + .listing {
	margin-top: 1rem;
}

#list--home {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

#list--home li {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

#list--home li header {
  flex: 2 0;
}

#list--home li .tag-list {
  flex: 1 0;
  font-family: var(--font-mono);
}

.tag-list a {
  color: inherit;
  text-decoration: none;
}

.tag-list a:hover {
  text-decoration: underline;
}

/* 

#list--home:hover li:not(:hover) {
  opacity: .3;
} */

#list--home:hover li:hover {
  position: relative;
  color: var(--color-highlight);
  z-index: 1;
}

#list--home li:hover:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: url('patterns/dots.svg');
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}


#list--home .illustration--rollover {
  display: none;
}

#list--home li:hover .illustration--rollover {
  display: block;
  position: absolute;
  top: 60%;
  right: 10vw;
}

[data-type="text"] {
  cursor: pointer;
}

#overlay--wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* background: rgba(255,255,255,.9); */
	display: flex;
	z-index: 11;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  background: url("patterns/shapes.svg") repeat;
}
#overlay {
	max-width: 85vw;
	max-height: 90vh;
	background: #f2f2f2;
	position: relative;
  padding: .5rem;
  border: 1px solid #416cf8;
  display: flex;
  flex-direction: column;
}
#overlay--close {
	/* position: absolute; */
	left: 100%;
  padding: .5rem;
  margin-top: -.5rem;
  margin-right: -.5rem;
  text-align: right;
  display: inline-block;
  align-self: end;
}
#overlay--close:before {
	content: "close x";
	cursor: pointer;
  font-size: var(--font-size--smaller);
  font-family: var(--font-mono);
  color: #416cf8;
}
#overlay--content-container {
	max-height: 100%;
  display: flex;
	overflow: hidden;
  align-items: center;
  justify-content: center;
}

#overlay--content-container img {
  max-height: 100%;
}

#overlay [data-type="text"] {
  cursor: initial;
	margin: 1rem 2rem 1rem 1rem;
	display: grid;
	max-height: 100%;
	overflow: hidden;
  grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr;
}

#overlay .file-preview--text {
  grid-column-end: span 2;
}

#overlay .file-preview--text,
#overlay .file--caption {
	max-height: 100%;
  overflow: auto;
  font-size: 100%;
  padding-right: 3rem;
}
#overlay .file-preview--text:after,
#overlay .file--caption:after {
  display: none;
}

#overlay video {
  margin: 1.3rem;
}

body[data-has-overlay] {
  overflow: hidden;
}

#directory--info {
  display: flex;
  flex-direction: row;
}

#directory--description {
  flex: 2;
}

/**
  Spacer, to make white space for the sticky header.
*/
.directory--caption::after {
	content: "";
	height: 4rem;
	display: block;
}

#directory--meta {
	flex: 1;
	font-family: var(--font-mono);
	font-size: var(--font-size--smaller);
}

.listing {
  border-top: 1px solid;
  list-style-type: none;
  margin-left: -3.5rem;
  margin-right: -3rem;
  padding: 0;
}

.listing .listing {
  margin: 0 -1rem 0 0;
}

.listing .listing .file--header {
	padding-right: 1rem;
}

.listing li {
  border-bottom: 1px solid;
  padding: .5rem 1rem .5rem calc(var(--level-indentation));
}

.listing li:hover {
  background: white;
  cursor: pointer;
}

.listing li:last-child {
  border-bottom: none;
}

.listing .link--download {
  visibility: hidden;
}

[data-type="audio"] .link--download,
[data-type="video"] .link--download,
[data-type="unknown"] .link--download {
  visibility: visible ;
}

#overlay article[data-type="image"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
}

#overlay article[data-type="image"] img,
#overlay article[data-type="pdf"] img {
	max-height: initial;
}

#overlay article[data-type="image"] [data-thumbnail-link],
#overlay article[data-type="pdf"] [data-thumbnail-link] {
  grid-column-end: span 2;
}


#overlay--header {
	display: flex;
	flex-direction: initial;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: .5rem;
}
#overlay--header .file--header {
	margin-bottom: 0;
}
#overlay--close {
	padding-bottom: 0;
}

#overlay .file--meta--timestamp,
#overlay .link--download {
  margin-left: 2ch;
}

#site-header {
	background: var(--color--green);
	color: white;
	/* position: sticky; */
	/* top: 0; */
	/* left: 0; */
	/* right: 0; */
	font-weight: bold;
	padding: .5rem 3.5rem;
	z-index: 1;
  /* margin: -5rem -3rem 0 -3.5rem; */
}

#site-header a {
	color: currentColor
}

#site-header a:hover {
  text-decoration: none;
}

footer {
  margin: 5rem 0 -3rem;
  /* position: sticky; */
  /* bottom: -3rem; */
}

footer, footer a {
  color: var(--color-blue);
}

footer a:hover {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  html, body {
    font-size: 14px;
  }

  body {
    padding: 1rem .75rem;
  }

  .listing {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  #logo, #logo_down {
    width: 80px;
  }
  
  #overlay {
    display: flex;
    max-height: calc(100vh - 3rem);
    max-width: initial;
    position: fixed;
    top: 3rem;
    right: 1rem;
    left: 1rem;
  }

  #overlay--wrapper {
    background-size: 125%;
  }
  
  #overlay--close {
    left: initial;
    right: 0;
    top: -2.5rem;
  }

  #site-header {
    margin: -1rem -.75rem 0;
    padding-left: .75rem;
    padding-right: .75rem;
  }

  #directory--info {
    display: flex;
    flex-direction: column;
  }

  #directory--meta {
    order: -1;
  }
}