<details{% if directory.root %} open{% endif %} id="folder-{{ directory.public_path|slugify }}">
  <summary class="folder--list--entry">
    <h2 class="folder--title"><a href="#folder-{{ directory.public_path|slugify }}">{{ directory.basename }}</a></h2>
    <span class="folder--meta">
      {% with preview = directory.entry_count_summed %}
        {% if preview.entries == 0 %}
          (empty)
        {% else %}
          {% if preview.directories > 0 %}
            {{ preview.directories }} folder{% if preview.directories > 1 %}s{% endif %}{% if preview.files > 0 %},{%endif%}
          {% endif %}
          {% if preview.files > 0 %}
            {{ preview.files }} file{% if preview.files > 1 %}s{% endif %}
          {% endif %}
        {% endif %}
      {% endwith %}
    </span>
  </summary>
  {% if directory.caption %}
    <section class="directory--caption">
      {{ directory.caption.preview|safe }}
    </section>
  {% endif %}
  {% with entries=directory %}
    {% if entries|length() > 0 %}
    {% include "snippets/listing.html" %}
    {% endif %}
  {% endwith %}
</details>