<article id="file-{{ file.public_path|slugify }}">
  <iframe class="youtube" width="100%" data-src="https://www.youtube.com/embed/{{ file.preview }}" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</article>