<article data-type="{% block type %}file{% endblock %}" id="file-{{ file.public_path|slugify }}">
  <header class="file--header">
    <a href="#file-{{ file.public_path|slugify }}">
      <h2 class="file--name">{{ file.basename }}</h2>
    </a>
  </header>
  <section class="file--meta">
    <span class="file--meta--timestamp">{{ file.modification_time.strftime('%d-%m-%Y %H:%M') }}</span>
    <span class="file--meta--filesize">{{ file.size|standardize_filesize }}</span>
    <a href="/{{ file.public_path }}" class="link--download" download>download</a>
  </section>
  {% block preview %}
  <a data-thumbnail-link href="/{{ file.public_path }}" class="file-preview">
    <img class="file--preview--image" data-src-preview="{{ file.preview_big }}" data-src="{{ file.preview }}" loading="lazy">
  </a>
  {% endblock %}
  {% if file.caption %}
    <section class="file--caption">
      {{ file.caption.preview|safe }}
    </section>
  {% endif %}
</article>