{% extends "snippets/file_general.html" %}
{% block type %}video{% endblock %}
{% block preview %}
<section class="file-preview">
  <img src="{{ file.preview }}" />
  {% if file.caption %}
    <section class="file--caption">
      {{ file.caption.preview|safe }}
    </section>
  {% endif %}
</section>
{% endblock %}