<article style="position: relative;" id="file-{{ file.public_path|slugify }}">
  <iframe width="100%" class="vimeo" data-src="https://player.vimeo.com/video/{{ file.preview }}?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" loading="lazy" allowfullscreen></iframe>
</article>