{% extends "snippets/file_general.html" %}
{% block type %}audio{% endblock %}
{% block preview %}
<section class="file-preview file-preview--audio">
  <audio controls>
    <source src="{{ file.public_path }}" type="{{ file.mime }}" />
  </audio>
  {% if file.caption %}
    <section class="file--caption">
      {{ file.caption.preview|safe }}
    </section>
  {% endif %}
</section>
{% endblock %}