{% extends "snippets/file_general.html" %}
{% block type %}text{% endblock %}
{% block preview %}
<section class="file-preview--text file-preview">
  <section class="file-preview--text--spacer">
    {{ file.preview|safe }}
  </section>
  {% if file.caption %}
  <section class="file--caption">
    {{ file.caption.preview|safe }}
  </section>
  {% endif %}
</section>
{% endblock %}