<ul class="listing">
  {% for entry in entries %}
    {% if entry.visible %}
      <li>
        {% if entry is directory %}
          {% with directory=entry %}
            {% include "snippets/directory.html" %}
          {% endwith %}
        {% else %}
          {% with file=entry %}
            {% if entry is text_file %}
              {% include "snippets/file_text.html" %}
            {% elif entry is image_file %}
              {% include "snippets/file_image.html" %}
              {% elif entry is video_file %}
                  {% include "snippets/file_video.html" %}
            {% elif entry is audio_file %}
                {% include "snippets/file_audio.html" %}
            {% elif entry is pdf_file %}
              {% include "snippets/file_pdf.html" %}
            {% elif entry is youtube_file %}
              {% include "snippets/file_youtube.html" %}
            {% elif entry is vimeo_file %}
              {% include "snippets/file_vimeo.html" %}
            {% else %}
              {% include "snippets/file.html" %}
            {% endif %}
          {% endwith %}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>