<template name="overlay">
  <div id="overlay--wrapper">
    <div id="overlay">
      <div id="overlay--header">
        <div id="overlay--close"></div>
      </div>
      <div id="overlay--content-container"></div>
    </div>
  </div>
</template>
<script src="{{ STATICURL }}/overlay.js"></script>