<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Leaky Archive: drops</title>
</head>
<body>
  {% include "snippets/header.html" %}
  <main>
    <!-- <a id="logo" href="/"><img src="static/leaky.svg" alt="Leaky"></a>
    <a id="logo_down" href="/"><img src="static/archive.svg" alt="Archive"></a> -->
    <ul id="list--home">
      {% for entry in directory %}
        {% if entry is directory and entry.visible and entry.on_homepage %}
          <li>
            {% with directory=entry %}
              <header>
                <h2 class="folder--title"><a href="{{ directory.public_path }}">{{ directory.basename }}</a></h2>
                <span class="folder--summary">
                  {% with preview = directory.entry_count_summed %}
                    {% if preview.entries == 0 %}
                      empty
                    {% else %}
                      {% if preview.directories > 0 %}
                        {{ preview.directories }} folder{% if preview.directories > 1 %}s{% endif %}{% if preview.files > 0 %},{%endif%}
                      {% endif %}
                      {% if preview.files > 0 %}
                        {{ preview.files }} file{% if preview.files > 1 %}s{% endif %}
                      {% endif %}
                    {% endif %}
                  {% endwith %}
                </span>
              </header>
              {% if directory.tags %}
              <section class="tag-list">
                {% for tag in directory.tags %}
                  <a href="/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
              </section>
              {% endif %}
              {% if directory.rollover %}
              <img class="illustration--rollover" src="{{ directory.rollover}}">
              {% endif %}
            {% endwith %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if directory.caption %}
      <section class="directory--caption">
        {{ directory.caption.preview|safe }}
      </section>
    {% endif %}
    {% include "snippets/footer.html" %}
  </main>
  {% include "snippets/scripts.html" %}
</body>
</html>