<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ STATICURL }}/style.css">
  <title>Leaky Archive: drops</title>
</head>
<body>
  {% include "snippets/header.html" %}
  <!-- <a id="logo" href="/"><img src="static/leaky.svg" alt="Leaky"></a>
  <a id="logo_down" href="/"><img src="static/archive.svg" alt="Archive"></a> -->
  <main>
    <section id="directory--info">
      <section id="directory--description">
        <h2>
          {{ tag }}
        </h2>
      </section>
    </section>
    <ul class="listing">
      {% for directory in directories %}
        {% for entry in directory.unfold() %}
          {% if entry.visible %}
            {% if entry is not directory %}
              <li>
                {% with file=entry %}
                  {% if entry is text_file %}
                    {% include "snippets/file_text.html" %}
                  {% elif entry is image_file %}
                    {% include "snippets/file_image.html" %}
                    {% elif entry is video_file %}
                        {% include "snippets/file_video.html" %}
                  {% elif entry is audio_file %}
                      {% include "snippets/file_audio.html" %}
                  {% elif entry is pdf_file %}
                    {% include "snippets/file_pdf.html" %}
                  {% elif entry is youtube_file %}
                    {% include "snippets/file_youtube.html" %}
                  {% elif entry is vimeo_file %}
                    {% include "snippets/file_vimeo.html" %}
                  {% else %}
                    {% include "snippets/file.html" %}
                  {% endif %}
                {% endwith %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
    {% include "snippets/overlay.html" %}
  </main>
  {% include "snippets/footer.html" %}
  <script>
    const detailQuery = 'details',
          summaryQuery = 'summary',
          summaryLinkQuery = 'summary a',
          lazyLoadingQuery = '[data-src]',
          pdfThumbnailQuery = '[data-pdf-thumbnail]';

    let summaryLinks = document.querySelectorAll(summaryLinkQuery),
        lazyLoadedResources = document.querySelectorAll(lazyLoadingQuery),
        pdfThumbnails = document.querySelectorAll(pdfThumbnailQuery);

    function openRecursively (el) {
      while (el) {
        if (el.tagName.toLowerCase() == 'details') {
          el.open = true;
        }
        el = el.parentElement;
      }
    }




    function findClosestDetails (el) {
      while (el.parentElement) {
        if (el.parentElement.tagName.toLowerCase() == 'details') {
          return el.parentElement;
        }
        el = el.parentElement;
      }
    }
    

    lazyLoadedResources.forEach((el) => {
      const parentDetails = findClosestDetails(el),
            loadSelf = () => {
              el.setAttribute('src', el.dataset.src);
              delete el.dataset.src;
            };
      
      if (!parentDetails || parentDetails.open) {
        loadSelf();
      }
      else {
        const loadLater = () => {
          parentDetails.removeEventListener('toggle', loadLater); 
          loadSelf();
        }
        parentDetails.addEventListener('toggle', loadLater);
      }
      
    });


    summaryLinks.forEach((summaryLink) => {
      summaryLink.addEventListener('click', (e) => {
        e.preventDefault();

        const summary = summaryLink.parentElement.parentElement,
              details = summary.parentElement,
              summaryOldRect = summary.getBoundingClientRect();

        // window.history.pushState({}, '', summaryLink.href);

        details.open = !details.open;
        // console.log(details);
        if (!details.open) {
          const summaryNewRect = summary.getBoundingClientRect();

          if (summaryOldRect.top > summaryNewRect.top) {
            window.scrollBy(0, summaryNewRect.top - summaryOldRect.top)
          }
        }
      })
    });

    // pdfThumbnails.forEach((pdfThumbnail) => {
    //   pdfThumbnail.addEventListener('click', (e) => {
    //     e.preventDefault();
    //     const objectNode = document.createElement('object');
    //     objectNode.setAttribute('data', pdfThumbnail.getAttribute('href'));
    //     objectNode.setAttribute('type', 'application/pdf');
    //     objectNode.classList.add('pdf');
    //     pdfThumbnail.replaceWith(objectNode);
    //   });
    // });
    
    function openAndScrollToTargetedDetails () {
      const hash = window.location.hash;
  
      if (hash && hash != '') {
        const id = hash.substring(1),
              element = document.getElementById(id);
  
        if (element && element.tagName.toLowerCase() == 'details') {
          openRecursively(element);
        }
  
        const summary = element.querySelector('summary'),
              styles = window.getComputedStyle(summary),
              offset = parseInt(styles.top),
              detailsRect = element.getBoundingClientRect();
  
        // console.log(detailsRect.top - offset);
        window.scrollBy(0, detailsRect.top - offset);
      }
    }
    
    window.addEventListener('load', () => {
      openAndScrollToTargetedDetails();
      resizeObserver.unobserve(document.body);
    });

    openAndScrollToTargetedDetails();

    const resizeObserver = new ResizeObserver(openAndScrollToTargetedDetails);

    resizeObserver.observe(document.body);

  </script>
  {% include "snippets/scripts.html" %}
</body>
</html>