<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ STATICURL }}/style.css">
  <title>Leaky Archive: drops</title>
</head>
<body>
  {% include "snippets/header.html" %}
  <!-- <a id="logo" href="/"><img src="static/leaky.svg" alt="Leaky"></a>
  <a id="logo_down" href="/"><img src="static/archive.svg" alt="Archive"></a> -->
  <main>
    <section id="directory--info">
      <section id="directory--description">
        <h2>
          {{ directory.basename }}
        </h2>
        <span class="folder--summary">
          {% with preview = directory.entry_count_summed %}
            {% if preview.entries == 0 %}
              (empty)
            {% else %}
              {% if preview.directories > 0 %}
                {{ preview.directories }} folder{% if preview.directories > 1 %}s{% endif %}{% if preview.files > 0 %},{%endif%}
              {% endif %}
              {% if preview.files > 0 %}
                {{ preview.files }} file{% if preview.files > 1 %}s{% endif %}
              {% endif %}
            {% endif %}
          {% endwith %}
        </span>
        {% if directory.illustration %}
          <img src="{{ directory.illustration }}" id="directory--illustration" />
        {% endif %}
        {% if directory.caption %}
          <section class="directory--caption">
            {{ directory.caption.preview|safe }}
          </section>
        {% endif %}
      </section>
      <section id="directory--meta">
        <div class="tag-list">
          {% if directory.tags %}
            {% for tag in directory.tags %}
              <a href="/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </section>
    </section>
    {% with entries=directory %}
      {% include "snippets/listing.html" %}
    {% endwith %}
    {% include "snippets/overlay.html" %}
    {% include "snippets/footer.html" %}
  </main>
  <script>
    const detailQuery = 'details',
          summaryQuery = 'summary',
          summaryLinkQuery = 'summary a',
          lazyLoadingQuery = '[data-src]',
          pdfThumbnailQuery = '[data-pdf-thumbnail]';

    let summaryLinks = document.querySelectorAll(summaryLinkQuery),
        lazyLoadedResources = document.querySelectorAll(lazyLoadingQuery),
        pdfThumbnails = document.querySelectorAll(pdfThumbnailQuery);


    function openAllDetails () {
      let details = document.querySelectorAll(detailQuery);

      for (let i = 0; i < details.length; i++) {
        details[i].open = true;
      }
    }


    function openRecursively (el) {
      while (el) {
        if (el.tagName.toLowerCase() == 'details') {
          el.open = true;
        }
        el = el.parentElement;
      }
    }


    function findClosestDetails (el) {
      while (el.parentElement) {
        if (el.parentElement.tagName.toLowerCase() == 'details') {
          return el.parentElement;
        }
        el = el.parentElement;
      }
    }
    

    lazyLoadedResources.forEach((el) => {
      const parentDetails = findClosestDetails(el),
            loadSelf = () => {
              el.setAttribute('src', el.dataset.src);
              delete el.dataset.src;
            };
      
      if (!parentDetails || parentDetails.open) {
        loadSelf();
      }
      else {
        const loadLater = () => {
          parentDetails.removeEventListener('toggle', loadLater); 
          loadSelf();
        }
        parentDetails.addEventListener('toggle', loadLater);
      }
      
    });


    summaryLinks.forEach((summaryLink) => {
      summaryLink.addEventListener('click', (e) => {
        e.preventDefault();

        const summary = summaryLink.parentElement.parentElement,
              details = summary.parentElement,
              summaryOldRect = summary.getBoundingClientRect();

        // window.history.pushState({}, '', summaryLink.href);

        details.open = !details.open;
        // console.log(details);
        if (!details.open) {
          const summaryNewRect = summary.getBoundingClientRect();

          if (summaryOldRect.top > summaryNewRect.top) {
            window.scrollBy(0, summaryNewRect.top - summaryOldRect.top)
          }
        }
      })
    });
    
    /**
     * Improve this
    */
    function openAndScrollToTargetedDetails () {
      const hash = window.location.hash;
      let summary;
  
      if (hash && hash != '') {
        const id = hash.substring(1),
              element = document.getElementById(id);
  
        if (element) {
          if (element.tagName.toLowerCase() == 'details') {
            openRecursively(element);
            summary = element.querySelector('summary');
          }
          else {
            summary = findClosestDetails(element);
            openRecursively(findClosestDetails(element));
          }
        }
  
        const styles = window.getComputedStyle(summary),
              offset = parseInt(styles.top),
              detailsRect = element.getBoundingClientRect();
  
        // console.log(detailsRect.top - offset);
        window.scrollBy(0, detailsRect.top - offset);
      }
    }
    
    window.addEventListener('load', () => {
      openAndScrollToTargetedDetails();
      resizeObserver.unobserve(document.body);
    });

    openAndScrollToTargetedDetails();

    const resizeObserver = new ResizeObserver(openAndScrollToTargetedDetails);

    resizeObserver.observe(document.body);

  </script>
  {% include "snippets/scripts.html" %}
</body>
</html>