{% for entry in root %}
  {% if entry is directory %}
    <h2>{{ entry.basename }}</h2>
    <dl>
      {% for key, count in entry.statistics.items() %}
        <dt>{{ key }}</dt>
        <dd>{{ count }}</dd>
      {% endfor %}
    </dl>
  {% endif %}
{% endfor %}